<h1 class="main-title">Online Store</h1>

<h2>Select Category</h2>

<div>
  <button
    *ngFor="let category of categories"
    (click)="selectCategory(category.id)"
    [class.active]="selectedCategoryId === category.id">
    {{ category.name }}
  </button>
</div>

<hr>

<p *ngIf="selectedCategoryId === null">
  Please select a category to view products.
</p>


<app-product-list
  *ngIf="selectedCategoryId !== null"
  [products]="getFilteredProducts()"
  (delete)="onDeleteFromApp($event)">
</app-product-list>
