       body {
            margin: 0;
            font-family: Arial;
            background-color: rgb(240, 242, 245);
            height: 100vh;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            display: flex;
            gap: 80px;
            align-items: center;
        }

        .left {
            width: 500px;
        }

        .logo {
            color: #1877f2;
            font-size: 56px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .text {
            font-size: 28px;
            color: #1c1e21;
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card {
            width: 370px;
            background: white;
            padding: 16px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.15);
            text-align: center;
        }

        .card input {
            width: 90%;
            padding: 16px;
            margin-bottom: 12px;
            font-size: 17px;
            border: 1px solid #dddfe2;
            border-radius: 6px;
        }

        .login-btn {
            width: 100%;
            background: #1877f2;
            color: white;
            font-size: 20px;
            font-weight: bold;
            padding: 12px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }

        .forgot {
            display: block;
            margin: 14px 0;
            color: #1877f2;
            text-decoration: none;
        }

        .divider {
            margin: 20px 0;
        }

        .create-btn {
            background: #42b72a;
            color: white;
            font-size: 17px;
            font-weight: bold;
            padding: 12px 16px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }

        .create-page {
            margin-top: 28px;
            font-size: 14px;
            color: #1c1e21;
            text-align: center;
        }

        .create-page a {
            font-weight: bold;
            color: inherit;
            text-decoration: none;
        }

        .create-page a:hover {
            text-decoration: underline;
        }

        @media (max-width: 900px) {
            .container {
                flex-direction: column;
                text-align: center;
            }

            .left {
                width: 100%;
            }
        }