<div class="card">

  <img [src]="currentImage" class="main-image">

  <div class="thumbnails">
    <img *ngFor="let img of product.images"
         [src]="img"
         (click)="changeImage(img)">
  </div>

  <h2 class="product-title">{{ product.name }}</h2>
  <p class="product-description">{{ product.description }}</p>


  <p class="price">{{ product.price }} ₸</p>

  <p class="rating">⭐ {{ product.rating }}</p>

  <a [href]="product.link" target="_blank" class="kaspi-link">
  View on Kaspi
  </a>


  <div class="share-buttons">
  <button (click)="shareWhatsApp()">Share WhatsApp</button>
  <button (click)="shareTelegram()">Share Telegram</button>
  </div>

 <div class="action-buttons">
  <button class="like-button" (click)="like()">
    ❤️ Like ({{ product.likes }})
  </button>

  <button class="delete-button" (click)="onDelete()">
    🗑 Delete
  </button>
  </div>

</div>