.card {
  background: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.main-image {
  width: 100%;
  height: 220px;
  object-fit: contain;
}

.product-title {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.product-description {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #555;
}

.thumbnails {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.thumbnails img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
}

.price {
  color: green;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.rating {
  color: orange;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.share-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.share-buttons button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.share-buttons button:hover {
  opacity: 0.8;
}

.kaspi-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background: #d60000;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s ease;
}

.kaspi-link:hover {
  background: #a00000;
}

.card {
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.like-button {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fce7f3;
  color: #be185d;
  font-weight: 600;
  transition: 0.3s;
}

.like-button:hover {
  background-color: #f9a8d4;
}

.delete-button {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ef4444;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.delete-button:hover {
  background-color: #b91c1c;
}